@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    transition: 0.6s;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    right: 10px;
    border-radius: 10px;
}

header #toggle:hover{
    background: #002e5b;
    transition: 0.5s;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.banner {
    position: relative;
    width: inherit;
    min-height: 100vh;
    padding: 100px;
    /*background-size: cover;*/
    /* background-image: url(img/banner-bg.jpg); */
    background-attachment:fixed;
    background-position:right;
    background-repeat:no-repeat;
    background-size: 400px 100%;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.box {
    background-color: #003F7D;
    width: 400px;
    height: 100%;
    right: 0px;
    position: fixed;
    transition: 0.5s;
}

.banner.active {
    transform: translateX(-400px);
}

#navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #003F7D;
    /* background: #fff; */
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.active {
    right: 0;
}

#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0 0;
    border: #003F7D 2px solid;
    padding: 10px 15px;
}

#navigation ul li a:hover {
    border: #fff 2px solid;
    transition: 0.5s;
}

.content {
    max-width: 600px;
}

.content h2 {
    color: #0D0D0D;
    font-size: 2.5em;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #0D0D0D;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    border: #003F7D 2px solid;
}

.content a:hover {
    background: #003F7D;
    color: #fff;
    transition: 0.5s;
}

.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    color: #fff;
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: #fff 2px solid;
    margin: 10px 0 0;
}

.sci li a:hover {
    background: #fff;
    color: #003F7D;
    transition: 0.5s;
}

.black {
    color: #0D0D0D;
    font-size: 1.2em;
}

.red {
    color: #D94F30;
    font-size: 1.2em;
}

.blue {
    color: #003F7D;
    font-size: 1.2em;
}

.green {
    color: #165959;
    font-size: 1.2em;
}

@media (max-width: 900px) {

    header {
        padding: 20px 50px;
    }

    .banner {
        padding: 100px 50px 50px;
        background-size: 250px 100%;
    }

    .box {
        width: 250px;
    }

    .banner.active {
        transform: translateX(-250px);
    }

    #navigation {
        width: 250px;
    }

}