body{
    /* background-color: #E1E3E7; */
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #0D0D0D;
}

a, a:focus, a:hover{
    text-decoration: none;
}

/*=============================================
# Header
=============================================*/

.main-menu{
    padding-top: 20px;
}

#header{
    padding: 0 0 20px 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#logo {
    margin-left: 15px;
}

.nav-menu,
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

#nav-menu-container {
    margin: 0 0 0 140px;
}

.nav-menu a {
    padding: 0;
    text-decoration: none;
    display: inline-block;
    color: #0D0D0D;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    outline: none;
    font-family: "Roboto", sans-serif; }
.nav-menu a.active, .nav-menu a:hover {
    color: #003F7D;
}

.nav-menu > li {
    margin-right: 50px;
}

.nav-menu ul {
    margin: 33px 0 0 0;
    padding: 10px;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul.dark {
    background: #0D0D0D;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #262626;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
}
